<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<h3>新增定时任务</h3>
<p>
    <a th:href="@{/}">
        返回列表
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/quartz/addJob}"
          method="POST" novalidate="novalidate">
        <!--<input type="hidden" th:field="*{id}"/>-->
        <div>
            <label>jobName</label>
            <input type="text" th:id="jobName" th:name="jobName" value=""/>
        </div>
        <div>
            <label>jobGroupName</label>
            <input type="text" th:id="jobGroupName" th:name="jobGroupName" value=""/>
        </div>
        <div>
            <label>className</label>
            <input type="text" th:id="className" th:name="className" value=""/>
        </div>
        <div>
            <label>cronExpression</label>
            <input type="text" th:id="cronExpression" th:name="cronExpression" value=""/>
        </div>
        <div>
            <label>description</label>
            <input type="text" th:id="description" th:name="description" value=""/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>
