<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<input>
<p th:text="${data}">
    springboot 集成 quartz
</p>

<h6>form表单</h6>

<form id="save" th:action="${'/springboot/thymeleaf/save?id'}">

</form>


<table>
    <thead>
    <tr>
        <th>序号</th>
        <th>任务名称</th>
        <th>任务所属组</th>
        <th>状态</th>
        <th>cron配置</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="job,interStat:${jobList}">
            <td th:text="${interStat.index}"></td>
            <td th:text="${job.jobName}"></td>
            <td th:text="${job.jobGroupName}"></td>
            <td th:text="${job.jobStatus}"></td>
            <td th:text="${job.cronExpression}"></td>
            <td >
                <a href="#" th:href="@{'/quartz/pause?jobName='+${u.jobName}+'&jobGroupName='+${u.jobGroupName}}">暂停</a>
            </td>
        </tr>
    </tbody>
</table>


<br/>
<!--注意不要static-->
<script th:src="@{/js/jquery.js}"></script>

<img th:src="@{/img/logo.png}">
</body>

</html>
